<!DOCYTYPE HTML>
    <html>

    <head>
        <title>instagram</title>
        <meta charset="UTF-8">
        <script src="/instagram.js" defer></script>
    </head>

    <body>
        유저 넘버
        <input id="userNo" type="text"> <br>
        게시글내용<input id="content" type="text">
        <button>전송</button>


    </body>

    </html>