<!DOCYTYPE HTML>
    <html>

    <head>
        <title>instagram</title>
        <meta charset="UTF-8">
        <script src="/instagram.js"></script>
    </head>

    <body>
        게시물 내용
        <input type="text">

    </body>

    </html>